.form-body h2{
    margin-left:30px;
}

.form-body .doc-form{
    margin-left:30px;
}   
.form-body {
    background-color:chartreuse;
}

table {
	border-collapse: collapse;
  width: 100%;
}

table tbody > tr > td,
table thead > tr > th {
  border: 1px solid #ddd;
  padding: 1rem;
}

table tr td,table tr th{
    border:1px black solid;
}

.go{
  margin-left:30px;
}