<br/>
<h2>{{title}}</h2>
<br/>
<div class="total">
  <br/>
<div class="nav">
    <div class="hospital"><a routerLink="/home"class="dropdown-item waves-light" >Home</a></div>
    <div class="nav-add"><a routerLink="/addDoctor" class="dropdown-item waves-light">Add Doctor</a></div>
    <div class="nav-show"><a routerLink="/getAllDoctor" class="dropdown-item waves-light">Show Doctor Information</a></div>
    <div class="nav-addp"><a routerLink="/addPatient" class="dropdown-item waves-light">Add Patient</a></div>
    <div class="nav-showp"><a routerLink="/getAllPatient" class="dropdown-item waves-light">Show Patient Information</a></div>
</div>
<br/>
</div>
<router-outlet></router-outlet>